.frist {
  background-color: rgb(248, 238, 216);
  height: 136px;
  margin-top: -20px;
}
.frist p {
  color: rgb(68, 47, 58);
  font-size: 20px;
  margin-left: 400px;
  position: relative;
  top: 20px;
}
.frist button {
  width: 198px;
  height: 50px;
  background: rgb(247, 202, 93);
  border-radius: 47px;
  font-size: 15px;
  margin-left: 500px;
  margin-top: 30px;
  border: 0px;
  font-size: 16px;
}
.frist button:hover {
  background: rgb(199, 157, 58);
  transition: 0.5s;
}
.second {
  background-image: url(img/second.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 785px;
}
nav {
  margin-left: 800px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: end;
  justify-content: space-around;
  margin-top: -0px;
}
li {
  margin-top: 30px;
  font-size: larger;
  color: rgb(88, 47, 17);
}
li:hover {
  text-decoration: 2px underline;
}
.second1 {
  height: 97px;
  width: 97px;
  margin-left: 70px;
}
.second2 {
  height: 101px;
  width: 139px;
  margin-top: 70px;
  margin-left: 70px;
}
.fonts1 {
  width: 400px;
}
.fonts1 h1 {
  font-size: 40px;
  margin-left: 60px;
  color: rgb(68, 47, 58);
  margin-top: 70px;
}
.fonts1 p {
  font-size: 30px;
  margin-left: 60px;
  color: rgb(68, 47, 58);
}
.third {
  display: flex;
  height: 600px;
  justify-content: space-between;
  /* border: 2px solid black; */
  margin-top: 80px;
}
.main {
  /* border: 2px solid black; */
  width: 396px;
  margin-left: 200px;
}
.vidio {
  /* border: 2px solid black; */
  width: 396px;
  height: 686px;
  margin-right: 200px;
}
.vidio video {
  width: 396px;
  height: 600px;
}
.third-frist p1 {
  font-size: large;
}
.third-frist p2 {
  font-size: 30px;
}
.imgages img {
  width: 62px;
  height: 62px;
}
.imgages h2 {
  font-size: 20px;
}
.imgages p {
  font-size: large;
}
.imgages1 {
  display: flex;
}
.imgages1 div {
  margin-left: 20px;
  margin-top: -20px;
}
.imgages2 {
  display: flex;
}
.imgages2 div {
  margin-left: 20px;
  margin-top: -20px;
}
.imgages3 {
  display: flex;
}
.imgages3 div {
  margin-left: 20px;
  margin-top: -20px;
}
.imgages4 {
  display: flex;
}
.imgages4 div {
  margin-left: 20px;
  margin-top: -20px;
}
.forth {
  background-color: rgb(52, 115, 113);
  height: 550px;
  margin-top: 70px;
}
.forth h1 {
  font-size: 35px;
  color: white;
  position: relative;
  position: absolute;
  top: 100px;
  left: 350px;
}
.forth div {
  position: relative;
  position: absolute;
  height: 100px;
  width: 900px;
}
.forth img {
  position: relative;
  top: 180px;
  left: 670px;
}
.modalmoj {
  background-image: url(img/modalmoj.jpg);
  height: 700px;
  width: 1248px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modalmojfull {
  height: 1500px;
  background-color: rgb(248, 238, 216);
}
.modal {
  height: 748px;
  width: 950px;
  background-color: white;
  position: relative;
  top: 630px;
  left: 150px;
  border-radius: 50px;
  /* border: 2px solid black; */
}
.modal1 p1 {
  font-size: 30px;
  color: rgb(68, 47, 58);
  position: relative;
  position: absolute;
  top: 50px;
  right: 270px;
  /* border: 2px solid black; */
}
.modal1 p2 {
  font-size: 30px;
  color: rgb(68, 47, 58);
  position: relative;
  position: absolute;
  top: 30px;
  right: -100px;
  width: 400px;
  /* border: 2px solid black; */
}
.modal2 {
  display: flex;
  justify-content: space-around;
  position: relative;
  position: absolute;
  top: 200px;
  /* border: 2px solid black; */
  width: 950px;
}
.modal3 {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid black; */
  width: 950px;
  position: relative;
  position: absolute;
  top: 450px;
}

.modal21 img {
  height: 150px;
  width: 150px;
}
.modal21 h3 {
  font-size: 18px;
  color: rgb(68, 47, 58);
}
.modal21 p {
  font-size: 18px;
  color: rgb(119, 119, 119);
}
.star {
  height: 700px;
  background-color: rgb(77, 144, 143);
  width: 1248px;
}
.substar {
  height: 450px;
  width: 500px;
  background-color: rgb(77, 144, 143);
  margin-left: 350px;
  position: relative;
  top: 50px;
}
.substar img {
  padding-left: 170px;
}
.substar h1 {
  padding-left: 0px;
  font-size: 40px;
  color: white;
}
.substar p img {
  height: 60px;
  width: 50px;
  padding-left: 00px;
}
.substar p {
  font-size: 25px;
  color: white;
}
.starconnect {
  height: 70px;
}
.mind {
  width: 1248px;
  height: 900px;
  background-color: rgb(248, 238, 216);
}
.mind h1 {
  position: relative;
  top: 50px;
  padding-left: 450px;
  font-size: 40px;
  color: rgb(68, 47, 58);
}
.mind p {
  font-size: 25px;
  position: relative;
  top: 60px;
  padding-left: 350px;
}
.mind button {
  display: flex;
  width: 198px;
  height: 50px;
  background: rgb(247, 202, 93);
  border-radius: 47px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  color: rgb(68, 47, 58);
  border: 0px;
}
.mind button {
  position: relative;
  top: 50px;
  left: 520px;
}
.mind img {
  width: 600px;
  height: 450px;
  position: relative;
  top: 100px;
  left: 300px;
}
.footer {
  height: 600px;
  width: 1248px;
  background-color: white;
  margin-top: -20px;
  display: flex;
}
.footerfrist {
  height: 600px;
  width: 500px;
  background-color: white;
}
.footerfrist p b {
  position: relative;
  padding-left: 90px;
  top: 50px;
  color: rgb(68, 47, 58);
  font-size: 23px;
}

.photos img {
  height: 60px;
  width: 250px;
  position: relative;
  top: 50px;
  padding-left: 70px;
}
.footersecond {
  height: 600px;
  width: 500px;
  background-color: white;
}
.footersecondfrist {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: white;
}
.footersecondfrist div h1 {
  font-size: 20px;
  padding-top: 50px;
  color: rgb(68, 47, 58);
}
.footersecondfrist div li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  color: rgb(119, 119, 119);
}

.footersecondsecondimg div {
  display: flex;
  justify-content: space-between;
}
.footersecondsecondimg h1 {
  font-size: 20px;
  color: rgb(68, 47, 58);
}
.last {
  background-color: white;
  width: 1248px;
  height: 100px;
}
.last hr {
  height: 1px;
  background-color: rgb(119, 119, 119);
  width: 1100px;
}
.last p {
  font-size: 17px;
  padding-left: 80px;
  padding-top: 25px;
  color: rgb(119, 119, 119);
}
